/* You can add global styles to this file, and also import other style files */
body
  background-color: aliceblue

button.submit
  color: white
  background-color: #d2326d
  border: 0
  &:hover
    background-color: #9c274e


.with-vertical-scroll
  overflow-y: auto
  &::-webkit-scrollbar
    width: 10px
    height: 10px
  &::-webkit-scrollbar-track
    background: transparent
  &::-webkit-scrollbar-thumb
    background: #d8d8d8
    box-shadow: inset 0 0 0 2px white
    border-radius: 10px
