.wrapper
  display: flex
  align-items: center
  justify-content: center
  flex-direction: row
  .window
    background-color: white
    height: 755px
    border: 1px solid darkgray
    border-radius: 35px
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    display: flex
    align-items: center
    flex-direction: column
    padding: 10px 20px
    margin: 60px 20px 0
    &.main
      width: 600px
      .logo
        text-align: center
      .authorized
        width: 100%
        padding-bottom: 40px
        .header
          display: flex
          align-items: center
          p
            flex-basis: 100%
          form
            display: flex
            .input
              height: 15px
              resize: vertical
            .submit
              margin-left: 4px
              height: 20px
        .get-from-client
          display: flex
          align-items: center
          button
            height: 22px
            margin: 8px 0
          img
            margin-left: 10px
        &-list
          display: flex
          flex-wrap: wrap
          padding-bottom: 20px
          height: 200px
          align-content: flex-start
          .item
            display: flex
            flex-wrap: nowrap
            justify-content: space-between
            width: fit-content
            height: fit-content
            position: relative
            border: 1px solid darkgray
            border-radius: 8px
            padding: 5px
            margin: 5px
            .value
              padding-right: 3px
            .fa
              padding: 2px
              cursor: pointer
        .absolute
          position: absolute

    &.logs
      width: 300px
      .logs-window
        box-shadow: inset 0 0 2px rgba(0,0,0,0.5)
        border: 1px solid darkgray
        height: 80%
        width: 100%
        .log-entry
          padding: 2px 4px
          display: flex
          flex-direction: column
          align-items: flex-start
      .clear-logs
        margin-top: 15px


